<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register User</title>
    <link rel="stylesheet" href="/output.css">
</head>
<body class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 min-h-screen flex items-center justify-center">
    <!-- <%- include('partials/header.ejs'); -%> -->
    <div class="bg-white rounded-lg shadow-lg p-10 max-w-md text-center">
        <i class="fas fa-user-secret text-4xl text-gray-600 mb-4"></i>
        <h1 class="text-3xl font-bold text-gray-800 mb-2">Secrets</h1>
        <p class="text-gray-600 mb-6">Don't keep your secrets, share them anonymously!</p>
        <hr class="my-4 border-gray-300">
        <div class="space-y-4">
            <a href="/register" role="button" class="bg-green-500 text-white font-bold py-3 px-6 rounded-full hover:bg-green-600 transition duration-300 ease-in-out w-full block text-center">
                Register
            </a>
            <a href="/login" role="button" class="bg-blue-500 text-white font-bold py-3 px-6 rounded-full hover:bg-blue-600 transition duration-300 ease-in-out w-full block text-center">
                Login
            </a>
        </div>
    </div>
    
</body>

</html>