<%- include('partials/header') %>
<div class="bg-gradient-to-r from-indigo-500 to-purple-600 py-20 text-center">
    <div class="container mx-auto">
        <!-- Icon -->
        <div class="text-white mb-8">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-24 w-24 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M10 2a5 5 0 00-5 5v3H4a3 3 0 00-3 3v3a2 2 0 002 2h14a2 2 0 002-2v-3a3 3 0 00-3-3h-1V7a5 5 0 00-5-5zm-2 8V7a2 2 0 114 0v3H8zm-3 2v3h10v-3a1 1 0 011-1h1a1 1 0 011 1v3a1 1 0 01-1 1H3a1 1 0 01-1-1v-3a1 1 0 011-1h1a1 1 0 011 1z" clip-rule="evenodd" />
            </svg>
        </div>
        <!-- Heading -->
        <h1 class="text-white text-5xl font-extrabold mb-4">You've Discovered My Secret!</h1>
        <h2 class="text-white text-3xl font-bold mb-4">Hello <%=name%></h2>
        <!-- Secret Text -->
        <p class="text-gray-200 text-xl font-light"><%=secret%></p>
        
        <!-- submit button -->
        <a href="/submit" class="mt-8 inline-block bg-black text-white font-bold py-2 px-6 rounded-full hover:bg-gray-800 transition duration-300 ease-in-out">
            Submit
        </a>
        <!-- Logout Button -->
        <a href="/logout" class="mt-8 inline-block bg-white text-black font-bold py-2 px-6 rounded-full hover:bg-gray-300 transition duration-300 ease-in-out">
            Logout
        </a>
    </div>
</div>

